@font-face {
    font-family: 'NSTS';
    src: url('/fonts/Noto_Sans_Thai/NotoSansThai-SemiBold.ttf');
}

@font-face {
font-family: 'NSTR';
src: url('/fonts/Noto_Sans_Thai/NotoSansThai-Regular.ttf');
}